<%- include('blocks/header') -%>
<form>
   <label for="grid"> Select the grid size</label>
   <select id="grid">
     <option value="3">3</option>
     <option value="5">5</option>
     <option value="10">10</option>
   </select>
   <label for="players"> Select the number of players </label>
   <select id="players">
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
   </select>
   <input type="submit" class="submit-game">
    <!-- TODO: on submit POST <URL>/V1/game to create a new game and go to came view-->
</form>
<script>
  new Match()
</script>
<%- include('blocks/footer') -%>
